<!-- <app-register></app-register> -->
<div>
    <router-outlet></router-outlet>
</div>
<!-- <h2>Create User:</h2>
<p>firstname:</p> <input #firstname type="text">
<p>lastname:</p> <input #lastname type="text">
<p>email:</p> <input #email type="text">
<button (click)="createUser(firstname.value, lastname.value, email.value)">submit</button>

<h5>Users</h5>
<ul>
    <li *ngFor="let user of users">
        {{user._id}}, {{user.firstname}}, {{user.lastname}}, {{user.email}}
        <button (click)="updateUser(user._id, user.firstname, user.email, user.lastname)">update</button>
        <button (click)="deleteUser(user._id)">delete</button>
    </li>
</ul> -->